@use './variables' as var;
@use './Mixins' as *;

.blog_item_result_wrapper {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
    width: 100%;  
    min-height: 100vh;  
    background-color: var.$background-color;
  
    .blog_item_result_container{
      @include text-container-style;
  

      h1 {
        @include h1-style;
        margin-top: 0.5rem;
        margin-bottom: 3rem;
      }

      .blog_item_img {
        display: flex;
        justify-content: center;
        margin: 1rem;

        img {
          max-width: 100%;
          height: auto;
          border-radius: 8px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
        }
      }

      p {
        @include paragraph-style;
      }
    }
}


@media (max-width: 767px) {

  
    .blog_item_result {
      padding-top: 17vh;
      justify-content: center;
    


    h1 {
      @include h1-style;
    }

    p {
    
      font-size: 1.5em;
    }
  }
}