@use './variables' as var;
@use './Mixins' as *;

.navbar-wrapper {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var.$navbar-color;
  height: 11vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .08);
  position: fixed;
  top: 0;
  z-index: 1000; 

  .navbar-logo {
    display: flex;
    align-self: center;
    margin-left: 3vw;
    
  }

  .navbar-splash {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    padding: 0 20px; 

    .navbar-splash-name {
      flex-grow: 1;
      display: flex;
      justify-content: center; 

      .sitename{
        font-size: 2em;
        font-family: "Baloo 2", Arial, sans-serif;
      }
      
    }

    .navbar-splash-auth-links {
      display: flex;
      justify-content: flex-end; 
      text-decoration: none; 
      color: var.$darkPurple;
    }
  }
  
    a {
      text-decoration: none; /* Quitar subrayado */
      color: var.$spinner;  
      font-family: 'urbanist', sans-serif; 
      font-weight: 800;
      font-size: 1.2rem;
      transition: color 0.3s ease;
      padding: 0.5em;

      &:hover {
        color: var.$lilac; 
      }
    }

  .navbar-nav-links-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-left: 10vw; 
  }

  .navbar-splash .navbar-splash-name { 
      font-size: 2em;
      font-family: 'kalam', sans-serif;
      color: var.$darkPurple;
  }

  .active {
    color: var.$darkPurple;
    border-bottom: 2px solid var.$darkPurple;
    
    
  }

  .navbar-searchbar {
    width: 100%;
    display: flex;
    justify-content: center;
    
  }

  button {
    @include button-style;
    padding: 10px 20px;
    margin-right: 2em;
      
  }
  
}




@media (max-width: 768px) {



  .navbar-wrapper a {
   font-size: 1.3em;
  }

  .navbar-logo img {
    display: none;
    
  }

  .navbar-wrapper .navbar-splash .navbar-splash-name .sitename {
    font-size: 1em;
    font-family: "Urbanist", Arial, sans-serif;
    color:var.$darkPurple;
    padding: 0.2em;
  }

 
  .navbar-nav-links-wrapper.open { //estilos para cuando está abierta la hamburguesa
    display: flex;  
    flex-direction: column;  
    margin-top: 10em;
    
   
  }

  .navbar-nav-links-wrapper:not(.open) {
    display: none; //estilos para cuando está cerrada la hamburguesa
  }

  .burger-icon {
    cursor: pointer;
    font-size: 2em;
    padding: 0.2em;
  }

  .line {
      width: 30px; 
      height: 3px; 
      background-color: #333; 
      margin: 0.2em 0;
      transition: all 0.3s ease; 
  }

  .line.open {
    background-color: var.$darkPurple; 
      
  }

  .navbar-searchbar {
    margin-right: 0.5em;
    
  }

}
