
$quiz-color: #F4F5FF;
$btn-color: #6C63FF;
$text-color: #36344D;
$navbar-color: #ffffffc4;
$background-color: #D5DFFF;
$lilac: #a8b9f3;
$spinner: #6747C7;


$darkPurple: #2F1C6a; // #2F1C64;
$warning: #FF6347; 
