@use './variables' as var;
@use './Mixins' as *;

.videos-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var.$lilac;
  width: 100vw;
  height: 100vh;

  h1 {
   @include h1-style;
   margin-top: 3em;
  }

}


.video-item {
  background-color: #f9f9f9; 
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1); 
  margin-right: 10em;
  margin-left: 10em;
  

  h2 {
    font-family: 'Londrina shadow', sans-serif;
    font-size: 1.8em;
    color: var.$spinner;
    margin-bottom: 1em;
  }

  .video-content-summary {
    font-size: 1.1em;
    line-height: 1.6;
    color: var.$darkPurple;
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: var.$btn-color;
    font-weight: bold;
    font-size: 1.3em;
    transition: color 0.3s ease;
  }

  a:hover {
    color: var.$spinner;
  }

  p {
    margin-left: 10px;
    font-size: 1.2em;
    color: var.$text-color;
  }
  
}


.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.spinner {
  font-size: 2em;
  color: var.$spinner;
}


@media (max-width: 767px) {

    
  .videos-wrapper {
    padding-top: 16vh;
    max-width: 100%;
    padding-bottom: 20vh;
  
    h1 {
     @include h1-style;
    }
  
  }

  
  .video-item {
   
    padding: 0.5em;
    margin-bottom: 1em;
  }
    

}
