@use './variables'  as var;
@use './Mixins' as *;

.video-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
    width: 100%;  
    min-height: 100vh;  
    background-color: var.$background-color;

    .video-wrapper-items{
        @include text-container-style;
    

        .video_iframe{
            display: flex;
            justify-content: center;
            padding-bottom: 3em;
        }

        h1 {
            margin-top: 1vh;
            @include h1-style;
            padding-bottom: 0.8em;
        }

        .video-content p {
            @include paragraph-style;
        }

    }   

}


@media (max-width: 767px) {

    
    .video-wrapper {
        padding-top: 15vh;
        padding-bottom: 12vh;
        
    
        .video-content p {
            font-weight: 600;
        }
    
    }
      
  
  }